@using PersonalTracker.Core.Models
@model PersonalTracker.Core.Models.FinancialAccount

@{
    Layout = null;
    var userId = @ViewData["UserId"] as string;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
<div>
    <form asp-action="CreateFinanceAccount" method="post">
        <div>
            <label asp-for="accountName"></label>
            <input asp-for="accountName" type="text"/>
            <span asp-validation-for="accountName"></span>
        </div>
        <div>
            <label asp-for="type"></label>
            <select asp-for="type" asp-items="Html.GetEnumSelectList<FinancialAccount.TYPES>()">
                <option>-SELECT ACCOUNT TYPE-</option>
            </select>
            <span asp-validation-for="type"></span>
        </div>
        <div>
            <label asp-for="initialValue"></label>
            <input asp-for="initialValue" type="number"/>
            <span asp-validation-for="initialValue"></span>
        </div>
        <div>
            <label asp-for="currencyType"></label>
            <select asp-for="currencyType" asp-items="Html.GetEnumSelectList<FinancialAccount.CURRENCY>()">
                <option>-SELECT CURRENCY TYPE-</option>
            </select>
            <span asp-validation-for="currencyType"></span>
        </div>
        <input type="hidden" name="userId" value="@userId"/>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>