
@using System.Collections
@model IEnumerable<PersonalTracker.Core.Models.DTOS.FinancialAccountDTO> 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/TrackerIndex.css" />
</head>
<body>
    <form method="post" asp-action="Logout" asp-controller="Account">
        <button type="submit">Logout</button>
    </form>
    
    <main>
        <div class="accounts border border-5 w-100 d-flex">
            @foreach (var account in Model)
            {
                <div class="account border border-2 border-black w-100">
                    <p>@account.accountName</p>
                    <p>&euro;@account.initialValue</p>
                </div>
            }
            <a asp-action="CreateFinanceAccount" class="account border border-2 border-black w-100">
                <p>Add Account +</p>
            </a>
        </div>
    </main>

</body>
</html>