a {
    text-decoration: none;
    color: black;
}

body {
    height: 100vh;
}

header {
    background-color: #1f2421;
    height: 3rem;
}

main {
    min-height: 90%;
    display: flex;
    margin: 1%;
    border: solid black 1px;
}

.accounts {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    border-right: solid 1px black;
    flex-grow: 1;
}

.account {  
    width: 100%;
}

.account > p {
    margin: 0;
}

.addAccount:hover {
    background-color: #217090;
}

.account:hover {
    background-color: #217090;
}

.main-info {
    width: 80%;
    flex-grow: 4;
}

.collapse {
    justify-content: end;
}

.navbar {
    background-color: #1F2421;
}

.nav-link {
    color: white;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.form-content > input, select {
    height: 50px;
    font-size: 1.3rem;
}

.form-content > label {
    font-size: 1.3rem;
}

.form-content > select {
    cursor: pointer;
}

.submit, .addAccount, .close {
    font-weight: bold;
    border: none;
    min-height: 50px;
}

.submit, .addAccount {
    background-color: #216869;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.submit, .close {
    margin-top: 3%;
    width: 100px;
}

.close {
    background-color: #9CC5A1;
    color: black;
}

.buttons-wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 1rem;
}

form {
    gap: 1rem;
}

.graph-wrapper {
    width: 50%;
    height: 50%;
}

#graph-container {
    width: 100%;
    height: 100%;
}

.wholeBalance {
    font-size: 1.3rem;
}

.wholeBalance > p {
    margin: 0;
}

.General, .Savings, .Cash, .Current_Account, .Credit, .Debit,
.Bonus, .Insurance, .Investment, .Loan, .Mortgage, .Overdraft {
    border-bottom: dotted 1px;
}

.financialRecord {
    border: solid 1px black;
    display: flex;
    height: 25px;
    width: 200px;
}

.record-wrapper {
    
    display: flex;
    justify-content: space-evenly;
}

.financialRecord > p {
    margin: 0;
}

.General {
    border-right: solid 15px #02394A;
}
.Savings {
    border-right: solid 15px #043565;
    
}
.Cash {
    border-right: solid 15px #DBB1BC;
}
.Current_Account {
    border-right: solid 15px #D3C4E3;
}
.Credit {
    border-right: solid 15px #8F95D3;
}
.Debit {
    border-right: solid 15px #89DAFF;
}
.Bonus {
    border-right: solid 15px #58504A;
}
.Insurance {
    border-right: solid 15px #F3E0EC;
}
.Investment {
    border-right: solid 15px #EAD5E6;
}
.Loan {
    border-right: solid 15px #F2BEFC;
}
.Mortgage {
    border-right: solid 15px #CA9CE1;
}
.Overdraft {
    border-right: solid 15px #685F74;
}