body {
    height: 100vh;
}

main {
    border: solid black 1px;
    width: 50%;
    min-height: 80%;
    margin: 0 auto;
}

.accounts {
    height: 50px;
}

.account {
    display: flex;
    align-items:  center;
    justify-content: center;
}