a {
    text-decoration: none;
    color: black;
}

body {
    height: 100vh;
}

header {
    background-color: #1f2421;
    height: 3rem;
}

main {
    min-height: 90%;
    display: flex;
    margin: 1%;
}

.accounts {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    flex-grow: 1;
}

.account {  
    width: 100%;
    border: solid 1px black;
}

.account > p {
    margin: 0;
}

.addAccount:hover {
    background-color: #217090;
}

.account:hover {
    background-color: #217090;
}

.main-info {
    border: solid red;
    width: 80%;
    flex-grow: 4;
}

.collapse {
    justify-content: end;
}

.navbar {
    background-color: #1F2421;
}

.nav-link {
    color: white;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.form-content > input, select {
    height: 50px;
    font-size: 1.3rem;
}

.form-content > label {
    font-size: 1.3rem;
}

.form-content > select {
    cursor: pointer;
}

.submit, .addAccount, .close {
    font-weight: bold;
    border: none;
    min-height: 50px;
}

.submit, .addAccount {
    background-color: #216869;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.submit, .close {
    margin-top: 3%;
    width: 100px;
}

.close {
    background-color: #9CC5A1;
    color: black;
}

.buttons-wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 1rem;
}

form {
    gap: 1rem;
}

.General, .Savings, .Cash, .Current_Account, .Credit, .Debit, .Bonus, 
.Investment, .Loan, .Mortgage, .Overdraft {
    
}

.General {
    background-color: #02394A;
    color: white;
}
.Savings {
    background-color: #043565;
    color: white;
}
.Cash {
    background-color: #DBB1BC;
}
.Current_Account {
    background-color: #D3C4E3;
}
.Credit {
    background-color: #8F95D3;
}
.Debit {
    background-color: #89DAFF;
}
.Bonus {
    background-color: #58504A;
}
.Insurance {
    background-color: #F3E0EC;
}
.Investment {
    background-color: #EAD5E6;
}
.Loan {
    background-color: #F2BEFC;
}
.Mortgage {
    background-color: #CA9CE1;
}
.Overdraft {
    background-color: #685F74;
}